numpy==1.19.5
tensorflow==2.4.0
google-cloud-storage==1.16.1
Pillow==6.0.0
opencv-python==4.5.1.48
h5py==2.10.0
matplotlib==3.3.4
librosa==0.8.0
pydub==0.24.1
scikit-image==0.17.2
keras==2.4.3
Keras-Preprocessing==1.1.2